<div class="clearfix" style="margin-left: 200px;">

	<div style="float: left;">
		<div style="margin-top:10px;">
			<img src="<%= attachment_url(chat_message.user, :image, :fill, 80, 80) %>" style="border-radius:100%">
		</div>

		<div style="margin-top:10px; float: left;">
			<%= "#{chat_message.user.first_name} #{chat_message.user.last_name}" %>
		</div>
	</div>

	<div class="clearfix" style="border-radius: 25px; border: 1px black solid; padding: 2px 20px; margin-top: 20px; font-size: 20px; width: 800px; margin-left: 20px; float: left;">
	  <p><%= "#{chat_message.message}" %></p>
	</div>

</div>